#░▀█▀░█▀█░█▀█░█░█░▀█▀░█▀▄░█▀▀
#░░█░░█░█░█▀▀░█░█░░█░░█▀▄░█░░
#░▀▀▀░▀░▀░▀░░░▀▀▀░░▀░░▀░▀░▀▀▀


# ------Be 8 bit clean:
	set input-meta on
	set output-meta on
	#set convert-meta off
	#set enable-keypad on


# ------Do not bell on tab-completion:
 	set bell-style none
	#set bell-style visible


# ------Make bash case insensitive:
	set completion-ignore-case on
	set completion-map-case on

# ------Reduce tab completion key presses and show suggestions:
	set show-all-if-ambiguous on


# ------Color files by types:
	set colored-stats on


# ------Append char to indicate type:
	set visible-stats on


# ------Mark symlinked directories:
	set mark-symlinked-directories on


# ------Color the common prefix:
	set colored-completion-prefix on


# ------Color the common prefix in menu-complete:
	set menu-complete-display-prefix on


# ------Show matches instead of ringing the bell:
	set show-all-if-unmodified on


# ------Do not repeat portions of the word following the 
# 	cursor:	
	set skip-completed-text on


# ------Don't ask for completion if more than x completions
	set completion-query-items -1


# ------Don't use a pager but show everything at once
	set page-completions off


# ------Use the text that has already been typed as the prefix 
# 	for searching through commands (i.e. more intelligent 
# 	Up/Down behavior)
	"\e[B": history-search-forward
	"\e[A": history-search-backward


# ------Use Alt/Meta + Delete to delete the preceding word
	"\e[3;3~": kill-word
