#░▀█▀░█▀█░█▀█░█░█░▀█▀░█▀▄░█▀▀
#░░█░░█░█░█▀▀░█░█░░█░░█▀▄░█░░
#░▀▀▀░▀░▀░▀░░░▀▀▀░░▀░░▀░▀░▀▀▀


# ------Be 8 bit clean:
	set input-meta on
	set output-meta on
	#set convert-meta off
	#set enable-keypad on


# ------Do not bell on tab-completion:
 	set bell-style none
	#set bell-style visible


# ------Make bash case insensitive:
	set completion-ignore-case On
