* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Ubuntu Nerd Font, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: rgba(46, 52, 64, 0.7);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #FF4040;
    border-bottom: 0px solid #ffffff;
    border-radius: 0px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-date,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0px 5px;
    color: #ffffff;
}

#workspaces {
    margin: 0 3px;
}

#window {
    margin: 0px 3px;
    border-radius: 0px;
    background-color: transparent;
    padding: 0 10px;
    font-family: Ubuntu; 
    font-size: 13px;
    font-weight: normal
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #64727D;
}

#battery {
   /* background-color: #3B4252;*/
    color: #ffffff;
    box-shadow: inset 0 -2px #ffffff;
}

#battery.charging {
    color: #ffffff;
    /*background-color: #A3BE8C;*/
    box-shadow: inset 0 -2px #A3BE8C;

}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #BF616A;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 -2px #A3BE8C;
}

label:focus {
    background-color: #000000;
}

#cpu {
    /*background-color: #88C0D0 ;*/
    color: #FFFFFF;
    box-shadow: inset 0 -2px #88C0D0;

}

#memory {
    /*background-color: #F46067;*/
    color: #FFFFFF;
    box-shadow: inset 0 -2px #F46067;

}

#backlight {
    /*background-color: #434C5E;*/
    color: #FFFFFF;
    box-shadow: inset 0 -2px #919191;
}

#network {
    /*background-color: #8FBCBB;*/
    color: #FFFFFF;
    box-shadow: inset 0 -2px #8FBCBB;
}

#network.disconnected {
    background-color: #BF616A;
}

#pulseaudio {
    /*background-color: #5294E2;*/
    color: #FFFFFF;
    box-shadow: inset 0 -2px #5294E2;

}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature {
    /*background-color: #5E81AC ;*/
    color: #FFFFFF;
    box-shadow: inset 0 -2px #5E81AC;
}

#temperature.critical {
    background-color: #eb4d4b;
    box-shadow: inset 0 -2px #5E81AC;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    /*background-color: #2D3436;*/
    box-shadow: inset 0 -2px #ecF0F1;
}

#idle_inhibitor.activated {
    background-color: #ecF0F1;
    color: #2d3436;
    box-shadow: inset 0 -2px #ecF0F1;
}

#custom-date {
    color: #FFFFFF;
    background-color: transparent;
}


