* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Ubuntu Nerd Font, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-height: 0px;
}

window#waybar {
    background-color: rgba(36, 47, 51, 0.7);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0px 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0px -2px transparent;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px -2px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0px -0px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #FF4040;
    border-bottom: 0px solid #ffffff;
    border-radius: 0px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-date,
#idle_inhibitor {
    padding: 0px 10px;
    margin: 0px 5px;
    color: #ffffff;
    border-radius: 10px
}

#workspaces {
    margin: 0px 2px;
}

#window {
    margin: 0px 2px;
    border-radius: 0px;
    background-color: transparent;
    padding: 0px 10px;
    font-family: Ubuntu; 
    font-size: 13px;
    font-weight: normal;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #64727D;
    color: #ffffff;
}

#battery.charging {
    background-color: #64727D;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #BF616A;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #64727D;
    color: #FFFFFF;
}

#memory {
    background-color: #64727D;
    color: #FFFFFF;

}

#backlight {
    background-color: #64727D;
    color: #FFFFFF;
}

#network {
    background-color: #64727D;
    color: #FFFFFF;
}

#network.disconnected {
    background-color: #BF616A;
}

#pulseaudio {
    background-color: #64727D;
    color: #FFFFFF;

}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature {
    background-color: #64727D;
    color: #FFFFFF;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #64727D;
}

#idle_inhibitor.activated {
    background-color: rgba(255, 255, 255, 1.0);
    color: #2d3436;
    border-radius: 10px;
    margin: 0px 5px;
    box-shadow: inset 0px 0px #ecF0F1;
}

#custom-date {
    color: #FFFFFF;
    background-color: #64727D;
}


