window {
margin: 0px;
border: 1px solid #DCA3A3;
background-color: #383C4A;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #44475a;
}

#inner-box {
margin: 5px;
border: none;
background-color: #374348;
}

#outer-box {
margin: 5px;
border: none;
background-color: #374348;
}

#scroll {
margin: 0px;
border: none;
}

#text:selected {
margin: 0px;
border: none;
color: #FFFFFF;
background-color: #64727D;
} 

#entry:selected {
background-color: #64727D;
}
