window {
margin: 0px;
border: none;
background-color: #DEDEDE;
border-radius: 10px;
}

#input {
margin: 5px;
border: solid;
border-color: #949494;
border-width: 1px;
border-radius: 10px; 
color: #000000;
background-color: #DEDEDE;
}

#inner-box {
margin: 5px;
border: none;
background-color: #DEDEDE;
}

#outer-box {
margin: 5px;
border: none;
background-color: #DEDEDE;
}

#scroll {
margin: 0px;
border: none;
}

#text {
color: #000000
}

#text:selected {
color: #000000;
background-color: none;
margin: 0px 5px;
border: solid;
border-color: #949494;
border-width: 0.5px;
border-radius: 10px;
padding: 0px 5px;
 margin: 0px 0px;
} 

#entry:selected {
background-color: #949494;
border: solid;
border-color: #64727D;
border-width: 0.5px;
border-radius: 10px;
padding: 0px 5px;
 margin: 0px 0px;
}
