window {
margin: 0px;
border: 1px solid #FF5151 ;
background-color: #283337;
}

#input {
margin: 5px;
border: none;
color: #283337;
background-color: #F5EEE8;
}

#inner-box {
margin: 5px;
border: none;
background-color: #283337;
}

#outer-box {
margin: 5px;
border: none;
background-color: #283337;
}

#scroll {
margin: 0px;
border: none;
}

#text:selected {
margin: 0px;
border: none;
color: #FFFFFF;
background-color: #64727D;
} 

#entry:selected {
background-color: #64727D;
}
